<div class="row g-0">
    <div class="col-2">
        <button class="btn btn-secondary"
        (click)="removeFromCart()">-
            <!-- <mat-icon>remove</mat-icon> -->
        </button>
    </div>
    <div class="col">
        <button class="text">{{ shoppingCart.getQuantity(product) }}</button>
        <!-- <p class="text"></p>         -->
    </div>
    <div class="col-2">
        <button class="btn btn-secondary"
        (click)="addToCart()">+
            <!-- <mat-icon>add</mat-icon> -->
        </button>
    </div>

    <button (click)="removeAll()" class="btn btn-light btn-sm remove" *ngIf="remove">Remove</button>
</div>