.remove {
    margin-top: 10px;
    width: 100%;
}

button {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.text {
    height: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    pointer-events: none;
}

